// Custom colors
:root {
  --vapor-background-color: rgb(36 39 44);
  --vapor-titlebar-color: var(--vapor-background-color);
  --vapor-titlebar-color-active: rgb(36 39 47);
  --vapor-border-color: #57595d;
}

// Color overrides
html#main-window {
  --toolbar-bgcolor: var(--vapor-titlebar-color) !important;
  --toolbar-field-background-color: #151c23 !important;
  --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
  --lwt-accent-color: var(--toolbar-bgcolor) !important;
}

#titlebar {
  opacity: 1 !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  &:not(:-moz-window-inactive) {
    background-color: var(--vapor-titlebar-color-active) !important;
  }
}

#TabsToolbar > .toolbar-items:-moz-window-inactive {
  opacity: var(--inactive-titlebar-opacity);
}

.tab-background:is([selected], [multiselected]) {
  background-color: color-mix(in srgb, currentColor 11%, transparent) !important;
}

.titlebar-close {
  > .toolbarbutton-icon {
    background-image: url("./breeze-close-symbolic.svg") !important;
    background-color: transparent !important;

    &:-moz-window-inactive {
      background-image: url("./breeze-close-inactive-symbolic.svg") !important;
    }
  }

  &:hover > .toolbarbutton-icon {
    background-image: url("./breeze-close-hover-symbolic.svg") !important;
    &:-moz-window-inactive {
      background-image: url("./breeze-close-hover-inactive-symbolic.svg") !important;
      opacity: 1;
    }
  }
}

.titlebar-min {
  > .toolbarbutton-icon {
    background-image: url("./breeze-minimize-symbolic.svg") !important;
    background-color: transparent !important;

    &:-moz-window-inactive {
      background-image: url("./breeze-minimize-inactive-symbolic.svg") !important;
    }
  }

  &:hover > .toolbarbutton-icon {
    background-image: url("./breeze-minimize-hover-symbolic.svg") !important;
    &:-moz-window-inactive {
      background-image: url("./breeze-minimize-hover-inactive-symbolic.svg") !important;
    }
  }
}

.titlebar-max {
  > .toolbarbutton-icon {
    background-image: url("./breeze-maximize-symbolic.svg") !important;
    background-color: transparent !important;

    &:-moz-window-inactive {
      background-image: url("./breeze-maximize-inactive-symbolic.svg") !important;
    }
  }

  &:hover > .toolbarbutton-icon {
    background-image: url("./breeze-maximize-hover-symbolic.svg") !important;
    &:-moz-window-inactive {
      background-image: url("./breeze-maximize-hover-inactive-symbolic.svg") !important;
    }
  }
}

.titlebar-restore {
  > .toolbarbutton-icon {
    background-image: url("./breeze-maximized-symbolic.svg") !important;
    background-color: transparent !important;

    &:-moz-window-inactive {
      background-image: url("./breeze-maximized-inactive-symbolic.svg") !important;
    }
  }

  &:hover > .toolbarbutton-icon {
    background-image: url("./breeze-maximized-hover-symbolic.svg") !important;
    &:-moz-window-inactive {
      background-image: url("./breeze-maximized-hover-inactive-symbolic.svg") !important;
    }
  }
}

.titlebar-buttonbox-container > .titlebar-buttonbox > *:last-child {
  padding-right: 3px !important;
  margin-right: 0px !important;
}

.titlebar-buttonbox > .titlebar-button > .toolbarbutton-icon {
  width: 20px !important;
  height: 20px !important;
}

.titlebar-button {
  padding-inline: 0px !important;
  margin-inline: 2px !important;
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
  border: 1px solid var(--vapor-border-color) !important;

  :root:is([sizemode="maximized"], [sizemode="fullscreen"]) & {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
}

#browser {
  border: 1px solid var(--vapor-border-color) !important;
  border-top: none !important;

  :root:is([sizemode="maximized"], [sizemode="fullscreen"]) & {
    border: none !important;
  }
}
